.height-700{
    height: 727px;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
}
.carousel-control-prev{
    display: none;
}
.carousel-control-next{
    display: none;
}
.carousel-indicators button{
    width: 12px!important;
    height: 12px!important;
    border-radius: 50%!important;
    background-color: #000!important;
}
.carousel-caption{
    text-align: left;
}
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 11rem;
    left: 4%;
}
.carousel-caption h1{
    max-width: 471px;
    
}
.carousel-caption p{
    max-width: 500px;
    color: #7e7e7e;
}
.carousel-caption button:hover{
    background-color: #4E7661;
}